<!DOCTYPE html>
<html>
{% load static %}
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Website 2</title>
	<link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
</head>
<body>
	<div class='container'>
		<h1>Home Page !</h1>
		<p>
			In this website you have many functionalities, you can signup and  your user will be added to our database, 
			after you signed up, you can use the login page, so you can see your personal details...
		</p>
	</div>
	
</body>
</html>
{% include 'main/base.html' %}