*{
	font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
h1{
	font-size: 42px;
}
p{
	font-size: 32px;
	margin-right: 25%;
	margin-left: 25%;
	margin-top: 5%;
}
.container{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 50%;
	height: 50%;
	border: 2px solid black;
	box-shadow: 10px 5px;
	text-align: center;
}